@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Fauna+One&display=swap');
* {
  margin:0;
  padding:0;
  overflow-x:hidden;
}
body {
  background-color:var(--black-lightest);
  overflow-x:hidden;
}
#root {
  overflow-x:hidden;
}
:root {
  --black-darkest: #000000;
  --black-darker: #0A0A0A;
  --black-lightest: #333333;
  --white-lightest: #FFFFFF;
  --cyan: #49B9B5;
  --red: #FF3F44;
}